//
// Blocks
// -------------------------------------------



//
// Variables
// -------------------------------------------

// Fonts
// -------------------------------------------
$font-sans-serif:               'Open Sans', sans-serif;
$font-sans:                     'PT Serif', serif;

// Font Size
// -------------------------------------------
$font-size-default:             14px;
$font-size-title:               18px;
$font-size-xl:                  21px;
$font-size-xxl:                 28px;
$font-size-xxxl:                34px;

$font-size-slogan:              23px;

// Color
// -------------------------------------------
$color-green:                   #52e200;
$color-blue:                    #4a90e2;
$color-purple:                  #a1007e;
$color-white:                   #fff;
$color-gray:                    #eee;
$color-black:                   #333;

//
// Common
// -------------------------------------------
body {
    font-family: 'Open Sans', $font-sans-serif;
    font-size: $font-size-default;
}



.block-title {
    padding: 20px 0;

    position: relative;

    font-family: $font-sans;
    font-size: $font-size-xxxl;
    font-weight: 700;
    text-align: center;
}

//
// Header
// -------------------------------------------
.header {
    padding: 10px 0;
    color: $color-black;
    box-shadow: 0 2px 13px 0 rgba(184, 184, 184, 0.5);

    .col-md-9 {
        padding-left: 0;
    }
}

.slogan {
    font-size: $font-size-slogan;
    font-weight: 700;
    font-family: $font-sans;
    text-align: center;

    color: $color-blue;
}

//
// Contacts
// -------------------------------------------
.contacts {
    text-align: center;
    font-size: 0;

    .fa,
    .fab {
        margin-right: 4px;
        font-size: 18px;
    }

    .contacts-text {
        font-size: $font-size-default;
    }

    .contacts-item {
        display: inline-block;
        vertical-align: middle;

        margin: 0 5px;
        color: $color-black;
        text-decoration: none;

        &:hover {
            color: $color-blue;
        }
    }

    .fa,
    .fab,
    .far,
    .contacts-text {
        display: inline-block;
        vertical-align: middle;
    }
}

//
// Lang
// -------------------------------------------
.lang {
    display: inline-block;
    vertical-align: middle;

    .lang-list {
        @include list-unstyled;
        margin: 0;
        font-size: 0;
    }

    .lang-item {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px 0 0;
    }

    .lang-link {
        display: inline-block;
        text-decoration: none;
        padding: 5px;
        border-radius: 4px;

        &.is-active,
        &:hover {
            background: $color-blue;

            .lang-text {
                color: $color-white;
            }
        }
    }

    .lang-ico {
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;

        & > img {
            max-width: 24px;
        }
    }

    .lang-text {
        display: inline-block;
        vertical-align: middle;

        font-size: 14px;
    }
}


//
// About
// -------------------------------------------
.about-us {
    margin-bottom: 20px;

    .about-media {
        max-width: 270px;
        max-height: 240px;

        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .about-description {
    }

    .about-item {
        margin-bottom: 20px;
    }

    .about-title {
        font-size: $font-size-xl;
        font-weight: bold;
    }

    .about-hide {
        &.is-hide {
            display: none;
        }
    }

    .about-content {
        display: inline;

        & > p {
            display: inline;
        }
    }

    .show-more {
        padding-left: 5px;

        display: inline;

        color: $color-blue;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

//
// Services
// -------------------------------------------
.services {
    background: $color-gray;
    padding-bottom: 20px;

    .block-title {

    }

    .services-title {
        margin-bottom: 20px;
        font-size: $font-size-xl;
        font-weight: bold;
    }

    .services-list {
        @include list-unstyled;

        li {
            margin-bottom: 10px;
            font-size: 16px;
            padding-left: 35px;
            position: relative;

            &:before {
                content: "\f058";
                position: absolute;
                top: 3px;
                left: 0;

                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                font-size: 21px;
                line-height: 1;
                font-family: Font Awesome\ 5 Free;

                color: $color-blue;
            }
        }
    }

    .container {
        margin-bottom: 10px;
    }

    .row {
        margin-bottom: 20px;
    }
}

.services-price {
    .note {
        display: inline-block;
        vertical-align: middle;

        font-size: $font-size-title;
    }

    .price {
        display: inline-block;
        vertical-align: middle;

        font-size: $font-size-title;
        font-weight: 700;
    }
}

//
// Block Contacts
// -------------------------------------------
.block-contacts {
    background: $color-blue;

    .contacts-item {
        display: block;
        padding: 20px;

        transition: 0.2s linear color, 0.2s linear background;

        color: $color-white;
        text-decoration: none;
        text-align: center;

        &:hover {
            background: $color-white;
            color: $color-blue;
        }
    }

    .fa,
    .fab,
    .contacts-text {
        display: inline-block;
        vertical-align: middle;
    }

    .fa,
    .fab {
        margin-right: 4px;
        font-size: 28px;
    }

    .contacts-text {
        font-size: 18px;
    }
}

//
// Block Certificate
// -------------------------------------------
.block-certificate {
    padding: 20px 0;

    .certificate-items {

    }

    .certificate-item {

    }

    .slick-slide {
        float: none !important;
        display: inline-block !important;
        vertical-align: middle;
    }
}

//
// Block Conference
// -------------------------------------------
.block-conference {
    padding: 20px 0;
    background: $color-gray;

    .block-title {

    }

    .conference-items {

    }

    .conference-item {

    }

    .slick-slide {
        float: none !important;
        display: inline-block !important;
        vertical-align: middle;
    }
}

//
// Block Feedback
// -------------------------------------------
.block-feedback {
    padding: 20px 0;
    margin-bottom: 20px;

    .feedback-items {

    }

    .feedback-row {
        @include clearfix;
    }

    .feedback-left {
        float: left;
        width: 200px;
        margin-right: 20px;
    }

    .feedback-right {
        overflow: hidden;
    }

    .feedback-media {
        max-width: 200px;
        max-height: 200px;
    }

    .feedback-title {
        margin-bottom: 10px;

        font-size: 18px;
        font-weight: 700;
    }

    .feedback-description {

    }

    .feedback-hide {
        &.is-hide {
            display: none;
        }
    }

    .show-more {

    }

    .fa {
        font-size: 28px;
        color: $color-blue;

        position: absolute;
        top: 50%;
        margin-top: -14px;
    }

    .fa-chevron-circle-left {
        left: -40px;
    }

    .fa-chevron-circle-right {
        right: -40px;
    }
}

//
// Block Helper
// -------------------------------------------
.block-helper {
    background: $color-gray;
}







